In [153]:
import pandas as pd
import numpy as np
df = pd.DataFrame({"messy_email": 
                   ["yi@gmali.com","yi@sfu.ca","y i@sfu.ca","Yi@gmail.com","H ELLO@hotmal.COM","hello", np.nan, "NULL"]
                  })
df

         messy_email
0       yi@gmali.com
1          yi@sfu.ca
2         y i@sfu.ca
3       Yi@gmail.com
4  H ELLO@hotmal.COM
5              hello
6                NaN
7               NULL

In [159]:
from dataprep.clean import clean_email
clean_email(df, "messy_email")

Email Cleaning Report:
	1 values unable to be parsed (12.5%)
Result contains 5 (62.5%) values in the correct format and 3 null values (37.5%)

         messy_email messy_email_clean
0       yi@gmali.com      yi@gmali.com
1          yi@sfu.ca         yi@sfu.ca
2         y i@sfu.ca         yi@sfu.ca
3       Yi@gmail.com      yi@gmail.com
4  H ELLO@hotmal.COM  hello@hotmal.com
5              hello              None
6                NaN              None
7               NULL              None

In [161]:
from dataprep.clean import validate_email
print(validate_email('Abc.example.com'))
print(validate_email('prettyandsimple@example.com'))
print(validate_email('disposable.style.email.with+symbol@example.com'))
print(validate_email('this is"not\allowed@example.com'))

False
True
True
False

In [163]:
validate_email(df["messy_email"])

0     True
1     True
2     True
3     True
4     True
5    False
6    False
7    False
Name: messy_email, dtype: bool

In [164]:
df = pd.DataFrame({"messy_email": 
                   ["yi@gmali.com","yi@sfu.ca","y i@sfu.ca","Yi@gmail.com","H ELLO@hotmal.COM","hello", np.nan, "NULL"]
                  })
df

         messy_email
0       yi@gmali.com
1          yi@sfu.ca
2         y i@sfu.ca
3       Yi@gmail.com
4  H ELLO@hotmal.COM
5              hello
6                NaN
7               NULL

In [165]:
validate_email(df["messy_email"])

0     True
1     True
2     True
3     True
4     True
5    False
6    False
7    False
Name: messy_email, dtype: bool

In [166]:
print(validate_email('hello@example.com'))
print(validate_email('he llo@example.com'))

True
True